.NewsContainer {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
}
.NewsContainerSkrol{
    width: 100%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    overflow-y: auto;
}
.NewsContainerSkrol2{
    width: 30%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    overflow-y: auto;
    right: 0;
}

.addNews {
    width: 550px;
    height: 300px;
    background: rgba(13, 17, 24, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 1.1%;
    margin-bottom: 30px;
}

.NewsWrapper {
    width: 550px;
    height: 300px;
    background: #0D1118;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    position: relative;
    margin-bottom: 30px;
    margin-right: 1.1%;
}
.NewsWrapper2 {
    width: 687px;
    min-height: 320px;
    max-height: 670px;
    height: 635px;
    background: #0D1118;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    position: relative;
    margin-bottom: 30px;
    margin-right: 1.1%;
}

.newsTime {
    max-height: 30px;
    height: 10%;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
    color: #FAFFFC;
    margin: 5px 0 0 18px;
}
.newsTime2 {
    width: 100%;
    max-height: 30px;
    height: 10%;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.0016em;
    color: #FAFFFC;
}

.newsTitle {
    width: 90%;
    height: fit-content;
    max-height: 200px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FAFFFC;
    margin: 5px 0 15px 18px;
}
.newsTitle2 {
    width: 90%;
    height: fit-content;
    max-height: 200px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #FAFFFC;
    margin: 10px auto;
}

.newsInfo {
    width: 70%;
    height: 40%;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FAFFFC;
    margin-left: 20px;
}

.newsInfo2Container{
    width: 90%;
    height: 75%;
    min-height: 400px;
    max-heightx: 470px;
    margin: 10px auto;
}


.newsInfo2 {
    width: 43%;
    /*height: 100%;*/
    height: 470px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #FAFFFC;
    position:fixed;
    overflow-y: auto;
}
.newsInfo2::-webkit-scrollbar {
  width: 1px;
  background-color: #ddd;
}

.newsInfo2::-webkit-scrollbar-thumb {
  background-color: #444;
}


.newsButton {
    width: 100%;
    max-height: 77px;
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;

}
.newsButton2 {
    width: 100%;
    max-height: 77px;
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.readNewsButton {
    width: 190px;
    height: 40px;
    margin-left: 30px;
    /*margin-top: 10px;*/

    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid white;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.0016em;
    color: #0D1118;
    cursor: pointer;
}

.createNewsContainer {
    width: 100%;
    height: 90%;
    background: #0D1118;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    /*position: relative;*/
}

.closeNews {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}

.addNewsInputTitle {
    width: 645px;
    height: 56px;
    margin: 25px 0 31px 31px;
}

.newsInputTitle {
    width: 100%;
    height: 100%;
    background: #0D1118;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;

    font-family: Gilroy;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FAFFFC;
}

.newsInputTitle::placeholder {
    color: #FAFFFC;
}
.newsInputTitle:focus {
    outline: none;
}

.newsTextArea {
    width: 90%;
    height: 70%;
    margin-left: 31px;
    border-radius: 10px;
}

.newsTextAreaWrapper {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 10px;
    font-family: Gilroy;
    font-weight: 400;
    background: #0D1118;
    font-style: normal;
    font-size: 16px;
    border-radius: 10px;
    color: #FAFFFC;
}

.newsTextAreaWrapper::placeholder {
    color: #FAFFFC;
}
.newsTextAreaWrapper:focus {
    outline: none;
}

.addNewsButtonContainer {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.addNewsButton {
    width: 190px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid white;
    margin-left: 22px;

    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    color: #0D1118
}

.redNews{
    width: 70%;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 600px) {
    .NewsWrapper2{
        width: 97%;
    }
}
